body{
    background-color: rgb(54, 54, 54);
}

.SoPrimicoLogo{
    background-color: rgb(32, 32, 32);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;         
    box-sizing: border-box;
    box-shadow: rgb(0, 0, 0) 1.5px 0 15px;
    border-radius: 20px;
}

.SoPrimicoLogo img{
    width: 60px;
    height: auto;
    display: block;
}

.SoPrimicoLogo h3{
    color: rgb(224, 224, 49);
    font-family: Arial, sans-serif;
    margin: 0 auto;
    text-align: center;
    text-shadow: yellow 1px 0 10px;
    font-size: 20px;
}


.Menu {
    background-color: rgb(32, 32, 32);
    width: 100%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;         
    gap: 10px;               
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: rgb(0, 0, 0) 1.5px 0 15px;
    border-radius: 20px;
    margin-top: 10px;
}
.Menu button {
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    box-shadow: rgb(0, 0, 0) 1px 0 10px;
    border-radius: 10px;
    flex: 1 1 120px;  
    max-width: 200px; 
}

.ServicesTitle{
    color: rgb(224, 224, 49);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}


.robloxContainer,
.fortniteContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.robloxServices,
.robloxServices2,
.robloxServices3,
.fortniteServices {
    background-color: rgb(32, 32, 32);
    width: 300px;
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: rgb(0, 0, 0) 1.5px 0 15px;
    border-radius: 20px;
    text-align: center;

    display: flex;           
    flex-direction: column;  
    justify-content: flex-start;  
    min-height: 450px;        
}

.robloxServices img,
.robloxServices2 img,
.robloxServices3 img{
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
    box-shadow: rgb(255, 255, 255) 0px 0 15px;
}

.robloxServices h2,
.robloxServices2 h2,
.robloxServices3 h2,
.fortniteServices h2,
.robloxServices p,
.robloxServices2 p,
.robloxServices3 p,
.fortniteServices p {
    color: white;
    font-family: Arial, sans-serif;
}

.robloxServices button,
.robloxServices2 button,
.robloxServices3 button,
.fortniteServices button {
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin-top: auto;     
    cursor: pointer;
    box-shadow: rgb(0, 0, 0) 1px 0 10px;
    border-radius: 10px;
}

.TipoROBLOX h1{
    color: rgb(255, 0, 0);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.TipoFortnite h1{
    color: rgb(0, 153, 255);
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.fortniteServices img{
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
    box-shadow: rgb(0, 153, 255) 0px 0 15px;
}